{% extends "base.html" %} {% block title %}Arte - {% endblock title %}
<!--disable-eslint-->
{% block content %}
<!--disable-eslint-->

<div class="gray-section">
  <section class="section main-content">
    <div class="grid">
      <h1 class="title">Arte e projetos artísticos</h1>
      {% if principal_photo %}
      <img
        class="me"
        src="{{principal_photo.image.url}}"
        alt="{{principal_photo.name}}"
      />
      {% else %}
      <h1 class="title">No photo found</h1>
      {% endif %}
    </div>
    <div class="text-content">
      <p>Um pouco sobre minha atividade favorita.</p>
    </div>
  </section>
</div>

<div class="black-section">
  <section class="section main-content">
    <h1 class="sections-title">Projetos</h1>
    <p class="text-content">
      Comecei a desenhar desde os 7 anos. No começo nunca tive tanta habilidade,
      mas de tantos anos praticando, fui me aperfeiçoando e usando mais da
      criatividade. Nesses últimos anos tenho buscado fazer projetos mais
      autorais, sem cópias de retratos pela internet. <br />
      Desenhar ou qualquer processo artístico é muito mais do que ver o
      resultado, e sim sentir todo o processo de algo 'imaginário' se
      materializar.
    </p>
    <div class="grid-projects">
      {% for project in art_projects %}
      <div class="grid-projects-item">
        <h1 class="title-project">{{project.name}}</h1>
        <img
          class="img-art"
          src="{{project.image.url}}"
          alt="{{project.name}}"
        />
        <p class="text-description">{{project.short_description}}</p>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock content %}
