{% extends "base.html" %} {% block content %}
<!--disable-eslint-->
<div class="black-section">
  <section class="section main-content">
    <div class="grid">
      <h1 class="title">Programação e desenvolvimento</h1>
      {% if principal_photo %}
      <img class="me" src="{{principal_photo.image.url}}" alt="" />
      {% else %}
      <h1 class="title">No photo found</h1>
      {% endif %}
    </div>
    <div class="text-content">
      <p>
        O que mais gosto nesse meio, <br />e como comecei a me interessar pelo
        assunto!
      </p>
    </div>
  </section>
</div>

<div class="gray-section">
  <section class="section main-content">
    <h1 class="sections-title">Como começou</h1>
    <p class="text-content">
      Eu nunca tive grande apreço por essa área, até ter a oportunidade de
      estudar pela escola. Não pude, mas continuei me dedicando a aprender por
      conta própria. <br />
      Atualmente tenho muito gosto em usar JavaScript e Python, e estou
      estudando e praticando para me tornar um desenvolvedor FullStack.
    </p>
  </section>
</div>

<div class="black-section">
  <section class="section main-content">
    <h1 class="sections-title">Projetos</h1>
    <p class="text-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla
      pariatur illum libero aliquid labore voluptates quaerat eius, culpa
      laboriosam quos esse facilis beatae sequi corrupti iusto ipsam aspernatur
      in et cumque. Explicabo voluptate recusandae ex veniam qui deleniti, unde
      repellendus at? Optio, totam inventore repellat adipisci beatae ut
      asperiores!
    </p>
    <div class="grid-projects">
      {% for project in code_projects %}
      <div class="grid-projects-item">
        <h1 class="title-project">{{project.name}}</h1>
        <img class="img-art" src="{{project.image}}" alt="{{project.name}}" />
        <p class="text-description">{{project.short_description}}</p>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock content %}
