{% extends "base.html" %} {% block content %}

<div class="black-section">
  <section class="section main-content">
    <div class="grid">
      <h1 class="title">Development and Coding</h1>
      <img class="me" src="./assets/images/backenddev.jpg" alt="" />
    </div>
    <div class="text-content">
      <p>
        What I like most in this field and how <br />I start to be interested in
        it!
      </p>
    </div>
  </section>
</div>

<div class="gray-section">
  <section class="section main-content">
    <h1 class="sections-title">How it started</h1>
    <p class="text-content">
      I never had such an appreciation for this area, until I had the
      opportunity to study it at school. I couldn't, but I continued dedicating
      myself to self-taught studies at home. <br />
      I currently have a lot of appreciation for JavaScript and Python, and I'm
      training to become a Fullstack developer.
    </p>
  </section>
</div>

<div class="black-section">
  <section class="section main-content">
    <h1 class="sections-title">Projects</h1>
    <p class="text-content">
      Here I will leave some of my projects. I was unable to deploy most of the
      larger projects, so they are only available to be viewed via video :(
      <br />
      However, I still intend to learn and play it on the web for everyone to
      see, and to replace it, I will leave my Linkedin link so you can see the
      project.
    </p>
  </section>
</div>
{% endblock content %}
