{% extends "base.html" %} {% block content %}

<div class="gray-section">
  <section class="section main-content">
    <div class="grid">
      <h1 class="title">
        Olá, meu nome é <bold class="text-shadow">Finotti</bold>
      </h1>
      {% if principal_photo %}
      <img class="me" src="" alt="Principal Photo" />
      {% else %}
      <h1>No photo found</h1>
      {% endif %}
    </div>
    <div class="text-content">
      <p>Artista, desenvolvedor e futuro poliglota.</p>
    </div>
  </section>
</div>

<div class="black-section">
  <section id="me" class="section main-content">
    <h1 class="sections-title">Sobre</h1>
    <p class="text-content">
      Sou Isaac, um estudante de Eletroeletrônica no SENAI e um aspirante ao
      título de desenvolvedor FullStack. Sou fluente em inglês e tenho
      conhecimento básico no idioma russo (A1). Minha paixão por arte é
      refletida em projetos criativos. Esse portifólio mostra meus projetos
      artísticos e meus projetos desenvolvidos por mim durante algum curso ou
      por conta própria, demonstrando meu compromisso com os dois assuntos,
      buscando sempre inovação. Sinta-se livre para explorá-lo e me contatar
      caso queira colaborar com algo.
    </p>
  </section>
</div>
{% endblock content %}
