{% extends "base.html" %} {% block content %}

<div class="gray-section">
  <section class="section main-content">
    <div class="grid">
      <h1 class="title">
        Hi, my name is <bold class="text-shadow">Finotti</bold>
      </h1>
      {% if principal_photo %}
      <img class="me" src="" alt="Principal Photo" />
      {% else %}
      <h1>No photo found</h1>
      {% endif %}
    </div>
    <div class="text-content">
      <p>Artist, developer and a future polyglot.</p>
    </div>
  </section>
</div>

<div class="black-section">
  <section id="me" class="section main-content">
    <h1 class="sections-title">Me</h1>
    <p class="text-content">
      I'm Isaac, a student in electrical and electronics engineering at SENAI
      and an aspiring FullStack developer. I'm fluent in English and have
      knowledge of Russian at the A1 level. My passion for art is reflected in
      creative projects. My portfolio showcases artistic works and FullStack
      programming projects, demonstrating my commitment to excellence and
      innovation. Feel free to explore my portfolio and get in touch for
      collaborations.
    </p>
  </section>
</div>
{% endblock content %}
